/* Style: Dashboard II */

body {
   background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/DARPA_Big_Data.jpg/1024px-DARPA_Big_Data.jpg') no-repeat center center fixed;
   background-size: cover;
   }

h1 {
   font-family: chango;
   color: white;
   }

#widgets >div {
   display: inline-block;
   width: 48%;
   }
